
.web-header{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position:fixed;
    top: 0;
    /* z-index: 3;  */
background-color: black;
color:white;
}
.heading{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 98%;
    
}
.web-header h1{
    margin: auto 0;
    font-size: 45px;
    display: inline;
   

}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
  
}
.logo img{
    width:8vw;
    height:10vh;
}

.topnav{
    display: flex;
    flex-direction: row;
    margin-top: 3.5vh;
    margin-right: 2vw;
    width: 98%;
    background-color: black
}
.topnav button{
    color: white;
    font-size: 20px;
    display: inline;
    padding: 0 1vw; 
    background-color: black;
    margin: 0 10px;
}
.topnav button:hover{
    background-color: white;
    color: olive;
}
@media(max-width:576px)
{
.web-header{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position:fixed;
    top: 0;
background-color: black;
color:white;
}
.heading{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 100%;
    
}
.web-header h1{
    margin: auto 0;
    font-size: 25px;
    display: inline;
      

}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
  
}
.logo img{
    visibility: hidden;
    width:8vw;
    height:10vh;
}

.topnav{
    display: flex;
    flex-direction: row;
    margin-top: 3.5vh;
    margin-right: 2vw;
    width: 98%;
    background-color: black
}
.topnav button{
    color: white;
    font-size: 15px;
    display: inline;
    padding: 0 1vw; 
    background-color: black;
    margin: 0 5px;
}
.topnav button:hover{
    background-color: white;
    color: olive;
}
}