<!-- <nav class="heading">
    
    <h3>Welcome to Giphy App</h3>
</nav> -->

        <div class="web-header">
            <span class="logo">
            <img src="assets/logo.png">
            <span class="heading">
            <h1>Welcome to Giphy App</h1>
            <nav class="topnav">
                <button (click)=favourites()>View Favourites</button>
                <button (click)="login()">Log in</button>
                <button (click)="trending()">Trending</button>
                <button (click)="logout()">Log out</button>
            </nav>
        </span>
        </span>
