<footer class="footer-section-container">
        <section class="footer-section-content">
            <section class="logo-links-section">
                <!-- section 1 here -->
                <img src="assets/logo.png">
                <!-- <h3>
                    Footer Template
                </h3> --> 
                <ul>
                    <li><a>About Us</a>
                    <li><a>Database</a>
                    <li><a>Report</a>
                    <li><a>Developer Tools</a>
                </ul>
            </section>
            <section class="recent-news-section">
                <!-- section 2 here -->
                <h2>
                    GET API
                </h2>
                <p>
                    Log in to your account and create your applications using the giphy API
                </p>
                <p>
                    Simply generate an API key and use the functionality as required. For any queries, reach out to us.
                </p>
            </section>

            <section class="signup-section">
                 <!-- section 3 and signup link here -->
                 <h2>SUBSCRIBE</h2>
                 <p>Get Monthly updates and free resources</p>
                 <div class="buttons">
                     <input type="Email" placeholder="Enter Email">
                     <div class="button2">
                         <h4>Subscribe</h4>
                     </div>
                 </div>
                <h3>Connect with Us</h3>
                <div class="social-media-links">
                  <!-- social icons here -->
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                  <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
                  <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                  <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
                </div>
            </section>
        </section>

        <hr>

        <p>&copy; Copyright 2020 StackRoute - All Rights Reserved</p>

    </footer>