


html,body{
    margin: 30px 0;
    font-family: 'Rubik', sans-serif;
    color:white
}

.footer-section-container {
    background-color: black ;
    color: white;
    padding:0 25ch;
    /* margin-top: 5ch; */
    
}

.footer-section-container > p {
    padding: 4vh 0vh;
}

.footer-section-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.footer-section-content .logo-links-section {
    margin-top: 4ch;
    font-size: large;
    width: 30%;
}

.logo-links-section > ul {
    list-style-type:none;
    padding: 0;
}
.logo-links-section img{
    width: 90px;
    height: 80px;
}

.footer-section-content .recent-news-section {
    width: 40%;
    padding-right: 40px;
}

.recent-news-section{
    margin-top: 3ch;
}
.recent-news-section > p {
    font-size: large;
    word-wrap: normal;
    margin-bottom: 3vh;
    
}

.signup-section {
    align-self: flex-start;
    width: 33.33%;
    padding-right: 15ch;
    margin-top: 3ch;
}

.signup-section > p {
    font-size: large;
    margin-bottom: 3.5vh;
}

.signup-section .buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
}
.signup-section input{
    padding: 8px 16px;
}

.signup-section .buttons .button2 {
    border-radius: 5%;
    background-color: rgb(48, 122, 233);
    width: 50%;
    text-align: center;
    padding-top: 8px;
    
}

.social-media-links {
    display: flex;
    flex-direction: row;
}

.social-media-links > i {
    padding-right: 3.5ch;
}